@import './var';

.featured {
  @include defaultGrid();
  grid-template-rows: max-content max-content max-content;
  grid-row-gap: 10px;
  margin-bottom: 50px
}

.featured-projects-list {
  @include defaultGrid();
  height: 250px;
  grid-template-columns: 33% 33% 33%;
  justify-content: space-between;
  margin-bottom: 50px;
}

.featured-project {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  background-color: $white10;
}

.featured-project-name {
  position: relative;
  top: 260px;
  color: $white10;
  font-weight: 900;
}

.more-projects-link {
  font-weight: 900;
  color: white;
  text-decoration: underline;
  font-size: 15px;
}
.more-projects-link:hover {
  cursor: pointer;
}

.nce1-featured {
  background: url('../img/nce1.loca.lt-ss.png') !important;
  background-size: cover !important;
}

.fec-featured {
  background: url('../img/reviews-widget.png');
  background-position: center;
  background-size: cover !important;
}