@import './var';

.stacks {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-row-gap: 20px;
}

.stacks-list {
  @include defaultGrid();
  height: max-content;
  grid-template-columns: 75px 75px 75px 75px 75px 75px 75px 75px;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.tech-stack {
  width: 75px;
  height: 75px;
  box-sizing: border-box;
  border-radius: 5px;
  background-size: cover !important;
  background-color: white !important;
}
.mongo-stack {
  background: url('../img/mongo.png');
}
.express-stack {
  background: url('../img/express.png');
}
.react-stack {
  background: url('../img/react.webp');
}
.node-stack {
  background: url('../img/node.jpg');
}
.js-stack {
  background: url('../img/js-logo.png');
}
.html-stack {
  background: url('../img/html-logo.webp');
}
.css-stack {
  background: url('../img/css-logo.webp');
}
.sass-stack {
  background: url('../img/sass-logo.png');
}
.mui-stack {
  background: url('../img/mui-logo.png');
}
.git-stack {
  background: url('../img/git-logo.png');
}
.electron-stack {
  background: url('../img/electron.png');
}