//Imports 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import './var';
@import './nav';

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  @include fitContainer();
  background-color: $black85;
}

.app {
  width: 60%;
  min-width: 800px;
  margin: auto;
  min-height: 3000px;
  background-color: rgba(255,255,255,0.015);
}