@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
nav {
  position: relative;
  display: grid;
  align-items: center;
  height: 100px;
  grid-template-columns: 50% 50%;
  margin-bottom: 50px;
}

.nav-links {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content max-content max-content;
  grid-column-gap: 20px;
}

.nav-links * {
  color: white !important;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
}

.nav-socials {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content max-content;
  justify-content: right;
}

.social {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin-left: 20px;
  background-size: cover !important;
}

.social:hover {
  cursor: pointer;
}

.linkedin-logo {
  background: url("../img/linkedin-logowebp");
}

.github-logo {
  background: url("../img/github-logo.png");
}

.gmail-logo {
  background: url("../img/gmail-logo.png");
}

nav {
  position: relative;
  display: grid;
  align-items: center;
  height: 100px;
  grid-template-columns: 50% 50%;
  margin-bottom: 50px;
}

.nav-links {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content max-content max-content;
  grid-column-gap: 20px;
}

.nav-links * {
  color: white !important;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
}

.nav-socials {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content max-content;
  justify-content: right;
}

.social {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin-left: 20px;
  background-size: cover !important;
}

.social:hover {
  cursor: pointer;
}

.linkedin-logo {
  background: url("../img/linkedin-logowebp");
}

.github-logo {
  background: url("../img/github-logo.png");
}

.gmail-logo {
  background: url("../img/gmail-logo.png");
}

.overview {
  position: relative;
  display: grid;
  align-items: center;
  align-items: baseline;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  height: 275px;
}

.overview-text-container {
  width: 30vw;
  min-width: 400px;
}

.full-name {
  font-size: 32px;
  color: white;
  font-weight: 900;
}

.sub-about-me {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.2);
  font-weight: 600;
}

.shortened-about-me {
  margin-top: 25px;
  font-weight: 600;
  font-size: 18px;
  color: whitesmoke;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  background: url("../img/sase-profile.jpeg");
  background-size: cover;
}

.featured {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-rows: max-content max-content max-content;
  grid-row-gap: 10px;
  margin-bottom: 50px;
}

.featured-projects-list {
  position: relative;
  display: grid;
  align-items: center;
  height: 250px;
  grid-template-columns: 33% 33% 33%;
  justify-content: space-between;
  margin-bottom: 50px;
}

.featured-project {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}

.featured-project-name {
  position: relative;
  top: 260px;
  color: rgba(255, 255, 255, 0.2);
  font-weight: 900;
}

.more-projects-link {
  font-weight: 900;
  color: white;
  text-decoration: underline;
  font-size: 15px;
}

.more-projects-link:hover {
  cursor: pointer;
}

.nce1-featured {
  background: url("../img/nce1.loca.lt-ss.png") !important;
  background-size: cover !important;
}

.fec-featured {
  background: url("../img/reviews-widget.png");
  background-position: center;
  background-size: cover !important;
}

.stacks {
  display: grid;
  grid-template-rows: -webkit-max-content -webkit-max-content;
  grid-template-rows: max-content max-content;
  grid-row-gap: 20px;
}

.stacks-list {
  position: relative;
  display: grid;
  align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  grid-template-columns: 75px 75px 75px 75px 75px 75px 75px 75px;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.tech-stack {
  width: 75px;
  height: 75px;
  box-sizing: border-box;
  border-radius: 5px;
  background-size: cover !important;
  background-color: white !important;
}

.mongo-stack {
  background: url("../img/mongo.png");
}

.express-stack {
  background: url("../img/express.png");
}

.react-stack {
  background: url("../img/react.webp");
}

.node-stack {
  background: url("../img/node.jpg");
}

.js-stack {
  background: url("../img/js-logo.png");
}

.html-stack {
  background: url("../img/html-logo.webp");
}

.css-stack {
  background: url("../img/css-logo.webp");
}

.sass-stack {
  background: url("../img/sass-logo.png");
}

.mui-stack {
  background: url("../img/mui-logo.png");
}

.git-stack {
  background: url("../img/git-logo.png");
}

.electron-stack {
  background: url("../img/electron.png");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100% !important;
  height: 100% !important;
  background-color: black;
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.app {
  width: 60%;
  min-width: 800px;
  max-width: 1200px;
  margin: auto;
  min-height: 3000px;
}

.section-header {
  color: white;
  font-weight: 900;
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */